@page {
    size: A4;
    margin: 0;
}

@media print {
    #contact {
        display: flex;
        gap: 30px;
        color: #191919 !important;
    }

    .left_side__item .education * {
        color: #191919 !important;
    }

    #experience {
        margin-top: 250px;
    }

    .projects {
        margin-top: 220px;
        height: 1030px;
    }

    p {
        color: #111 !important;
    }

    .profile_img {
        /* display: none !important; */
        position: absolute;
        right: 0;
        top: 100px;
        border-radius: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .container {
        border: none;
        display: flex;
        /* flex-direction: column-reverse; */
        flex-direction: column;
        box-shadow: none;
    }

    .flags {
        display: none !important;
    }

    .bootcamps ul {
        display: flex;
        justify-content: space-between;
    }

}