/* @import url('https://fonts.googdleapis.com/css2?family=Raleway:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #003148 50%, #fafafa 0%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  border: 1px solid #003148;
  margin: 50px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container a {
  display: inline-block;
  color: inherit;
}


.container .left_side {
  position: relative;
  background: #003148;
  padding: 40px;
}

.flags {
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.flag__item {
  width: 70px;
  border: 2px solid #fff;
  margin-right: 12px;
}

.flag__img {
  display: block;
  cursor: pointer;
}

.profile_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile_text h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
}

.profile_text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.profile_text .profile_img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(15deg, #000, #003148);
}

.profile_text .profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact_info {
  padding-top: 40px;
}

.contact_info .title {
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #53b5e2;
  ;
  display: inline-block;
}

.contact_info ul {
  position: relative;
}

.contact_info ul li {
  position: relative;
  margin: 10px 0;
  list-style: none;

}

.contact_info ul li .icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  color: #53b5e2;
}

.contact_info ul li span {
  color: #fff;
  font-weight: 300;
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  color: #53b5e2;
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contact_info.education h4 {
  color: #fff;
  font-weight: 300;
}

/* // LANGUAGE SECTION  */
.contact_info.langs .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #012333;
  display: block;
  margin-top: 5px;
  border-radius: 2px;
}

.contact_info.langs .percent div {
  background: #53b5e2;
  border-radius: 2px 0 0 2px;
  height: 100%;
}

.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;

}

.title-about {
  color: #003148;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about p {
  color: #333;
}

.about .box {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0;
}

.about .box .year-company {
  min-width: 150px;
}

.about .box .year-company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #cff;
  border-radius: 4px;
}

.skills .box .percent div {
  background: linear-gradient(to right, #00496b, #3eaadb);
  height: 100%;
  border-radius: 4px 0 0 4px;
}

/* /Interest */
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa-solid {
  color: #03a9f4;
  font-size: 18px;
  width: 25px;
  text-align: center;
}

/* Media queries */
@media (max-width: 1000px) {
  .container {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year-company {
    margin-bottom: 10px;
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media(hover: hover) {}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch>span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch>span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;
  -webkit- -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}


input.check-toggle-round-flat:checked+label:after {
  margin-left: 44px;
}

.skills-container {
  background: #003148 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.skill-icon {
  color: #03a9f4;
  font-size: 28px;
}

.skill-icon-bg {
  height: 25px;
  width: 25px;
}

.card {
  --size: 64px;

  display: inline-grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: var(--size) 1fr;
  /* border: 2px solid #aaa; */
  /* border-bottom-color: slateblue; */
  /* border-right-color: deeppink; */
  /* border-radius: calc(var(--size) / 2); */
  padding: 0.5rem;
  margin: 0.5rem;
  background: #fff;
  /* border: 2px solid #aaa; */
  /* border-bottom-color: slateblue; */
  /* border-right-color: deeppink; */
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: var(--size);
  height: var(--size);
}

.card span {
  font-family: Jost, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}